@import 'styles/mixin/media';

.contact :global {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);

  .gradient-wrapper {
    margin: 4px;
    border-radius: 14px;
    box-shadow: 0px 6px 5px 0px #00000040;
    padding: 2px;
    background-image: linear-gradient(#F9E851, #F9931C);

    .modal-content {
      position: relative;
      border-radius: 14px;
      padding: 16px 24px;
      background-image: linear-gradient(#2A1A57, #3E1747);

      .close-icon {
        position: absolute;
        top: 4px;
        right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #F6D355;
        border-radius: 11px;
        width: 22px;
        height: 22px;
        cursor: pointer;

        svg {
          width: 10px;
          height: 10px;

          path {
            fill: #F6D355;
          }
        }

        &:hover {
          background-color: #F6D355;

          svg path {
            fill: black;
          }
        }
      }

      .modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 6px;

        h1 {
          margin-top: 4px;
          font-size: 24px;
          line-height: 1.5;
          font-weight: 500;
          text-align: center;
          color: #F6D355;
        }
      }

      .modal-body {
        display: flex;
        gap: 8px;
        margin-top: 16px;

        img {
          width: 48px;
          height: 34px;
        }

        p {
          font-size: 16px;
          line-height: 1.5;
          color: #EAE5D3;

          @include media-xs {
            max-width: 250px;
          }
        }
      }

      .modal-footer {
        display: flex;
        justify-content: center;
        margin-top: 8px;

        button {
          position: relative;
          z-index: 2;
          display: flex;
          align-items: center;
          border: none;
          padding: 3px 7px 4px;
          background-image: linear-gradient(#F9E851, #F9931C);
          font-size: 20px;
          line-height: 1.5;
          font-weight: 600;
          color: #301952;

          svg {
            margin-right: 6px;
            width: 30px;
            height: 22px;
          }
        }
      }
    }

    @include media-sm {
      .modal-content {
        padding: 20px 12px;
        .modal-header {
          h1 {
            font-size: 16px;
          }
        }
        .modal-body {
          img {
            width:32px;
            height: 24px;
          }
          p {
            font-size: 14px;
          }
        }
        .modal-footer {
          margin-top: 12px;
          button {
            svg {
              width: 16px;
            }
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }
}