@import 'styles/mixin/media';

.plinko :global {
  display: flex;
  justify-content: center;

  .plinko-container {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1200px;

    * {
      font-size: 14px;
      font-weight: 600;
    }

    .game-box {
      display: flex;
      overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom: 3px solid var(--background);
      background: var(--primary);

      // @include media-md {
      //   flex-direction: column-reverse;
      //   align-items: center;
      //   gap: 32px;
      //   margin-left: auto;
      //   margin-right: auto;
      //   max-width: 600px;
      //   height: auto;
      //   min-height: 0px;
      //   border: none;

      //   .send-ball {
      //     order: -1;
      //   }
      // }


      .bet-action {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        width: 300px;
        padding: 12px;
        background-color: var(--background);

        // @include media-md {
        //   width: 100%;
        //   height: fit-content;
        // }

        .game-type {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          gap: 5px;
          border-radius: 9999px;
          padding: 5px;
          background-color: var(--primary);

          button {
            border-radius: 9999px;
            border: none;
            padding: 7px;
            background-color: transparent;

            &.active {
              background-color: #2f4553;
            }

            &:hover {
              background-color: #2f4553;
            }
          }
        }

        .bet-amount {
          .input-box {
            display: flex;
            align-items: center;
            border-radius: 8px;
            border: 2px solid #2f4553;
            padding: 5px;
            background-color: var(--primary);

            span {
              margin-right: 4px;
            }

            input {
              border: none;
              outline: none;
              margin-right: 8px;
              width: 100%;
              background-color: var(--primary);
              text-align: right;
            }

            div {
              display: flex;
              gap: 4px;
              margin-left: auto;

              button {
                border: none;
                padding: 8px;
                background-color: #2f4553;
                font-size: 12px;
              }
            }

            &:hover {
              border-color: #557086;
            }
          }
        }

        .risk,
        .rows {
          div {
            border: 2px solid #2f4553;
            border-radius: 8px;
            background-color: var(--primary);

            select {
              border: none;
              outline: none;
              margin: 8px;
              width: -webkit-fill-available;
              background-color: transparent;
            }

            &:hover {
              border-color: #557086;
            }
          }
        }

        .number-of-bets {
          div {
            border: 2px solid #2f4553;
            border-radius: 8px;
            background: var(--primary);

            input {
              margin: 8px;
              border: none;
              outline: none;
              width: -webkit-fill-available;
              background-color: transparent;
              text-align: right;

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }

            &:hover {
              border-color: #557086;
            }
          }
        }

        .send-ball {
          height: 60px;
          border: none;
          background-color: var(--secondary);
          font-size: 16px;
          font-weight: 700;
          color: var(--primary);

          &:hover {
            background-color: #1fff20;
          }

          &:active {
            height: 54px;
          }
        }
      }

      .game-board {
        position: relative;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        #plinko {
          position: relative;
        }

        .multiplier-box {
          display: flex;

          div {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            box-shadow: 0 4px;
            margin-bottom: 36px;
            border-radius: 5px;
            width: -webkit-fill-available;
            height: 28px;
            font-size: 12px;
            line-height: 0px;
            font-weight: bold;
            text-align: center;
            color: #000c;

            &.highlighted {
              animation-name: bounce;
              animation-duration: 300ms;
              animation-timing-function: cubic-bezier(.18, .89, .32, 1.28);
            }

            @include media-md {
              margin-bottom: 20px;
            }
          }
        }

        .multiplier-history {
          position: absolute;
          top: 50%;
          right: 5%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          height: 200px;
          overflow-y: hidden;
          border-radius: 12px;

          button {
            margin-bottom: 1px;
            border: none;
            border-radius: 0px;
            outline: none;
            width: 50px;
            height: 50px;
            font-weight: 700;
            color: #000c;
          }
        }
      }
    }
  }
}