@import 'styles/mixin/media';

.currency-dropdown {
  position: relative;
  user-select: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;

  .currency-title {
    color: #6D6198;
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 14px;
    width: 234px;
    height: 50px;
    background-color: #171224;

    span {
      width: 120px;
    }

    .dropdown-icon {
      margin-left: auto;

      path {
        fill: #BFAEF8;
      }
    }
  }

  .currency {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px 0 0;
    border-radius: 99px;
    width: 34px;
    height: 34px;
    background-color: #2F244A;

    img.currency-icon {
      transition: none;
      width: 20px;
      height: 20px;

      &.full {
        width: 34px;
        height: 34px;
      }
    }
  }

  .dropdown {
    position: absolute;
    z-index: 9999;
    top: 80px;
    right: 0;
    display: grid;
    gap: 4px;
    overflow: hidden;
    border-radius: 10px;
    padding: 4px;
    background-color: var(--primary);

    transform: scaleY(0);
    transform-origin: top;

    .dropdown-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: transparent;
      padding: 0px 12px;
      height: 48px;
      font-size: 16px;

      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      span {
        width: 100px;
      }

      &:hover {
        background-color: var(--secondary);
      }
    }
  }

  &.open {
    .dropdown {
      transform: scaleY(1);
    }
  }
}