@import 'styles/mixin/media';

.my-current-balance {
  position: relative;
  user-select: none;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;

  .content {
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 14px;
    height: 60px;
    background-color: #171224;

    span {
      width: 120px;
    }

    .dropdown-icon {
      scale: 0.7;
      fill: white;

      path {
        fill: white;
      }
    }
    @include media-sm {
      height: 48px;
    }
  }

  .currency {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    border-radius: 99px;
    width: 34px;
    height: 34px;
    background-color: #2F244A;

    img.currency-icon {
      transition: none;
      width: 20px;
      height: 20px;

      &.full {
        width: 34px;
        height: 34px;
      }
    }
  }

  @include media-sm {
    flex-grow: 1;

    .currency {
      margin-left: auto;
      width: 24px;
      height: 24px;

      img.currency-icon {
        width: 16px;
        height: 16px;

        &.full {
          width: 24px;
          height: 24px;
        }
      }
    }

    .content span {
      width: auto;
      white-space: nowrap;
      font-size: 14px;
    }

    .dropdown-icon {
      // display: none;
    }
  }

  .dropdown {
    position: absolute;
    z-index: 9999;
    top: 64px;
    left: 0;
    display: grid;
    gap: 4px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 4px;
    background-color: var(--primary);

    transform: scaleY(0);
    transform-origin: top;

    .dropdown-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: transparent;
      padding: 0px 12px;
      height: 48px;
      font-size: 16px;

      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      span {
        width: 100px;
      }

      &:hover {
        background-color: #557086;
      }
    }
  }

  .fill-blank {
    position: fixed;
    z-index: 1000;
    inset: 0;
    display: none;
    width: 100vw;
    height: 100vh;
  }

  &.open {
    .content .dropdown-icon {
      rotate: -180deg;
    }

    .dropdown {
      transform: scaleY(1);
    }

    .fill-blank {
      display: block;
    }
  }
}