header {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px 0 #0005;
  height: 72px;
  padding-left: 12px;
  padding-right: 12px;
  background: var(--theme);


  nav {
    display: flex;
    gap: 12px;
    margin-left: auto;

    .wallet-adapter-button,
    .wallet-adapter-dropdown {}
  }
}