@import 'styles/mixin/media';

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 1px 1px 0 #0005;
	padding: 12px;
	background: var(--background);

	img.logo {
		width: 48px;
		margin-right: 12px;
	}

	nav {
		position: relative;
		display: flex;
		gap: 12px;
		margin-left: auto;

		.diff {
			position: absolute;
			top: 0;
			left: 36px;
			opacity: 0;
			animation-name: balance;
			animation-duration: 600ms;
			color: #ff0;
		}
	}

	@include media-xs {
		nav {
			flex-grow: 1;
			.wallet-adapter-button {
				padding: 0px 12px;
				font-size: 14px;
			}
		}
	}
}