@import 'styles/mixin/media';

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--primary);
	padding: 12px 0px;
	background: var(--theme);

	.contact-us {
		text-align: center;

		a {
			cursor: pointer;
			font-weight: 700;
			color: #AE8EFF;
		}
		@include media-sm {
			display: flex;
			flex-direction: column;
		}
	}
	@include media-sm {
		padding: 8px 0;
	}
}
